#logo-img {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 10px;
    top: 1px;
}

.construction {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: 400px;
    top: 300px;
    color: #EE4A68;
    font-size: 50px;
    font-family: 'Roboto', serif;
    font-weight: 400;
  line-height: 2.2rem;
}

#confetti {
    width: auto;
    height: 700px;
    
}
