#about-img {
    position: relative;
    z-index: 2;
    width: 900px;
    height: 300px;
    left: 500px;
    top: 150px;
    }
    
    #about-vector {
    position: absolute;
    width: 900px;
    height: 750px;
    left: 100px;
    top: 50px;
    }
    
    
    #logo-img {
        position: absolute;
        width: 150px;
        height: 150px;
        left: 10px;
        top: 1px;
    }
    