

#navbar {
margin-bottom: 5rem;
}

.work-cards {
    width: 32rem;
    margin-top: 5rem;
    border: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

#webdev-vector
{
    position: absolute;
    width:1000.84px;
    height:700px;
    left: -100px;
    top: 100px;
}

#webdev-vector2 {
    position: absolute;
    width:1000.84px;
    height:700px;
    left: 400px;
    top: 100px;
}

#webdev-img {
    position: relative;
    z-index: 2;
    width: 350px;
    height: 350px;
    left: 1050px;
    top: 300px;
}

  #my-projects-text {
  line-height: 2.2rem;
  color: #fff;
  font-size: 55px;
  font-family: 'Roboto', serif;
  font-weight: 800;
  left: 800px;
    top: -240px;
    z-index: 2;
  position: relative;

  }
  


#angular {
    width: 220px;
    left: 850px;
    top: 270px;
    z-index: 2;
    position: absolute;
    border: 10px solid #fff;
    border-radius: 1%;
}

#react {
    width: 350px;
    left: 90px;
    top: 200px;
    z-index: 2;
    position: absolute;
    border: 10px solid #fff;
    border-radius: 1%;
}
#api {
    width: 280px;
    left: 50px;
    top: 450px;
    z-index: 2;
    position: absolute;
    border: 10px solid #fff;
    border-radius: 1%;
}

#titbit {
    width: 270px;
    left: 500px;
    top: 170px;
    z-index: 2;
    position: absolute;
    border: 10px solid #fff;
    border-radius: 1%;
}

#aptly {
    width: 210px;
    left: 700px;
    top: 550px;
    z-index: 2;
    position: absolute;
    border: 10px solid #fff;
    border-radius: 1%;
}

#pokedex {
    width: 300px;
    left: 360px;
    top: 570px;
    z-index: 2;
    position: absolute;
    border: 10px solid #fff;
    border-radius: 1%;
}

