

#navbar {
margin-bottom: 5rem;
}

.work-cards {
    width: 32rem;
    margin-top: 5rem;
    border: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

#webdev-vector
{
    position: absolute;
    width:1000.84px;
    height:700px;
    left: -100px;
    top: 100px;
}

#webdev-vector2 {
    position: absolute;
    width:1000.84px;
    height:700px;
    left: 400px;
    top: 100px;
}

#webdev-img {
    position: relative;
    z-index: 2;
    width: 350px;
    height: 350px;
    left: 1050px;
    top: 300px;
}

  #my-projects-text {
    align-content: center;
    bottom:auto;
  line-height: 2.2rem;
  color: #fff;
  font-size: 45px;
  font-family: 'Roboto', serif;
  font-weight: 800;
  left: 850px;
    top: -240px;
    z-index: 2;
  position: relative;

  }
  


#angular {
    width: 220px;
    left: 930px;
    height: 250px;
    top: 270px;
    z-index: 2;
    position: absolute;
}

#react {
    width: 300px;
    left: 30px;
    top: 150px;
    z-index: 2;
    position: absolute;
}
#api {
    width: 300px;
    left: 100px;
    top: 370px;
    z-index: 2;
    position: absolute;
}

#titbit {
    width: 270px;
    left: 600px;
    top: 170px;
    z-index: 2;
    position: absolute;
}

#aptly {
    width: 200px;
    left: 700px;
    top: 550px;
    z-index: 2;
    position: absolute;
}

#pokedex {
    width: 250px;
    left: 300px;
    top: 600px;
    z-index: 2;
    position: absolute;
}
