

#navbar {
margin-bottom: 5rem;
}

.work-cards {
    width: 32rem;
    margin-top: 5rem;
    border: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

#webdev-img {
    position: relative;
    z-index: 2;
    width: 350px;
    height: 350px;
    left: 1050px;
    top: 300px;
}
  


.project-images {
    :hover {cursor: pointer; opacity: 50%;}
    
    
}

#react-modal {
    z-index: 2;
    position: relative;
}

#to-top {
    margin-top: 5rem;
    font-size: medium;
    border: 1px solid #F2CA52;
    padding: 3px;
    color: #000;

}

#webdev-links {
    a:link { text-decoration: none; color: #F2CA52 }
        a:visited { text-decoration: none; color: #F2CA52}
        a:hover { text-decoration: none; color: #EF4B68}
        a:active { text-decoration: none; color: #EF4B68}
    position: fixed;
    left: 1180px;
    top: 150px;
    color: #F2CA52;
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 5rem;
    font-weight: 800;
    width: 13.5rem;
    ul {
        list-style-type: none;
    }
    border: solid 1px #EF4B68 ;
    
    
}

#webdev-vector{
    position: fixed;
    width: 80%;
    top: 40%;
    left: 10%;
    z-index: 1;
}

#myflix-angular {
    position: relative;
    z-index: 2;
}

#site-links {
    a:link { text-decoration: none; color: #fff }
    a:visited { text-decoration: none; color: #fff}
    a:hover { text-decoration: none; color: #EF4B68}
    a:active { text-decoration: none; color: #EF4B68}
    font-size: small;
    margin: 3px;
}


.webdev-text {
    position: relative;
        display: block;
        flex-direction: column;
        left: 8%;
        margin-top: 8%;
        color: #000;
        line-height: 3px;
        z-index: 2;
        font-size: 28px;
        font-family: 'Roboto-Slab', serif;
        font-weight: 400;
        width:40%;
      line-height: 2rem;
      text-shadow: 1px 1px #fff;
}

    #webdev-img-angular {
        max-width: 80%;
        position: relative;
        z-index: 2;
        height: auto;
        left: 99%;
        top: 5%;
        margin: 1rem; 
        border: solid 4px #fff;
        float: left;
}
