#home-img {
position: relative;
z-index: 2;
width: 900px;
height: 300px;
left: 500px;
top: 150px;
}

#home-vector {
position: absolute;
width: 900px;
height: 750px;
left: 100px;
top: 50px;
}


#logo-img {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 5px;
}


#home-text {
    position: fixed;
    z-index: 2;
    left: 300px;
    bottom: -50px;
    color: #fff;
    font-size: 30px;
    font-family: 'Roboto', serif;
    font-weight: 400;
    width:100%;
  bottom:auto;
  display:block; 

    }

#flip {
    
    height:50px;
    overflow:hidden;
}

#flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }

  #flip div div {
    background:#F24968;
  }
  #flip div:first-child div {
    background:#0CC8F2;
  }
  #flip div:last-child div {
    background:#000;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  
 
