       
        #home-img {
          max-width: 30%;
          position: relative;
          z-index: 2;
          height: 300px;
          left: 13rem;
          top: 15rem;
      
        }

        #home-vector {
          max-width: 70%;
          left: 2rem;
          top: 180px;
          position: absolute;
          z-index: 1;
          height: 500px;
        }

        #home-text  {
          position: relative;
          z-index: 3;
          left: 70px;
          top: 150px;
          font-size: 20px;
          font-family: 'Roboto', serif;
          font-weight: 400;
          width:100%;
          bottom:auto;
          display:block; 
          color: #fff;
      
        }
       
        #flip {
            
          height:30px;
          overflow:hidden;
      }
      
      #flip > div > div {
        color:#fff;
        padding:4px 12px;
        height:50px;
        margin-bottom:45px;
        display:inline-block;
        }
        
        #flip div:first-child {
          animation: show 5s linear infinite;
        }
      
        #flip div div {
          background:#F24968;
        }
        #flip div:first-child div {
          background:#0CC8F2;
        }
        #flip div:last-child div {
          background:#000;
        }
        
        @keyframes show {
          0% {margin-top:-270px;}
          5% {margin-top:-180px;}
          33% {margin-top:-180px;}
          38% {margin-top:-90px;}
          66% {margin-top:-90px;}
          71% {margin-top:0px;}
          99.99% {margin-top:0px;}
          100% {margin-top:-270px;}
        }
