
/* Mobile first styling for small devices 
    (320px) */


    #home-img {
      max-width: 60%;
      position: fixed;
      z-index: 2;
      height: auto;
      left: 12rem;
      top: 30rem;
  
    }

    #home-vector {
      max-width: 100%;
      left: 0.5rem;
      top: 290px;
      position: fixed;
      z-index: 1;
      height: 500px;
    }
    #home-text {
      position: fixed;
      z-index: 2;
      left: 300px;
      color: #fff;
      font-size: 30px;
      font-family: 'Roboto-Slab', serif;
      font-weight: 400;
      width:100%;
    top: 28rem;
    display:block; 
  
      }
  
  #flip {
      
      height:50px;
      overflow:hidden;
  }
  
  #flip > div > div {
      color:#fff;
      padding:4px 12px;
      height:45px;
      margin-bottom:45px;
      display:inline-block;
    }
    
    #flip div:first-child {
      animation: show 5s linear infinite;
    }
  
    #flip div div {
      background:#F24968;
    }
    #flip div:first-child div {
      background:#0CC8F2;
    }
    #flip div:last-child div {
      background:#000;
    }
    
    @keyframes show {
      0% {margin-top:-270px;}
      5% {margin-top:-180px;}
      33% {margin-top:-180px;}
      38% {margin-top:-90px;}
      66% {margin-top:-90px;}
      71% {margin-top:0px;}
      99.99% {margin-top:0px;}
      100% {margin-top:-270px;}
    }
    #home-text  {
      display: block;
      margin-top: 60px;
      flex-direction: column;
      position: absolute;
      z-index: 2;
      left: 50px;
      top: 100px;
      color: #000;
      text-decoration: #fff;
      font-size: 32px;
      font-family: 'Roboto-Slab', serif;
      font-weight: 400;
      width:60%;
    bottom:auto;
    line-height: 2.2rem;
    text-shadow: 1px 1px #fff;
    }
     
    @media only screen and (min-width: 600px)  {
      #home-img {
        max-width: 40%;
        position: fixed;
        z-index: 2;
        height: auto;
        left: 55%;
        top: 20rem;
    
      }
  
      #home-vector {
        max-width: 100%;
        left: 30%;
        top: 290px;
        position: fixed;
        z-index: 1;
        height: 500px;
      }
  
      #home-text  {
        display: block;
        margin-top: 60px;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        left: 50px;
        top: 100px;
        color: #000;
        text-decoration: #fff;
        font-size: 32px;
        font-family: 'Roboto-Slab', serif;
        font-weight: 400;
        width:60%;
      bottom:auto;
      line-height: 3rem;
      text-shadow: 1px 1px #fff;
      margin-bottom: auto;

    }


  }
    
    
    
   
    