#contact-img {
    position: relative;
    z-index: 2;
    width: 550px;
    height: 300px;
    left: 100px;
    top: 150px;
    }
    
    #contact-vector {
      
    position: absolute;
    width: 936.84px;
    height:750px;
    left: 350px;
    top: 55px;
    }
 
    
    #logo-img {
        position: absolute;
        width: 150px;
        height: 150px;
        left: 10px;
        top: 1px;
    }
    
    #contact-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: 550px;
    top: auto;
    color: #fff;
    font-size: 28px;
    font-family: 'Roboto', serif;
    font-weight: 400;
    width:40%;
  bottom:auto;
  line-height: 3.5rem;
    }

    #squiggly-line-one {
        position: relative;
        z-index: 2;
        width: 100px;
        height: 10px;
        left: 410px;
        top: 115px;
    }

    #squiggly-line-two {
        position: relative;
        z-index: 2;
        width: 70px;
        height: 10px;
        left: 265px;
        top: 105px;
    }

    #contact-me {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        left: 200px;
        top: -50px;
        color: #fff;
        font-size: 32px;
        font-family: 'Roboto', serif;
        font-weight: 800;
        width:40%;
      bottom:auto;
      line-height: 3.5rem;
    }

