.Navbar {
    width: auto;
    align-items: right;

    margin-bottom: 60px;
}

.nav-link {
    a:hover { text-decoration: none; color: #EF4B68}
    a:active { text-decoration: none; color: #EF4B68}
    z-index: 2;
    font-family: 'Roboto Slab';
    font-size: medium;
    font-weight: bold;
    flex-direction: column;
    color: #EF4B68;
    margin: auto;
    width: 20px;
    justify-content: space-between; 
    gap: 50px;
    text-decoration: none;
    
}



@media only screen and (max-width: 600px) {

    .nav-link { 
        font-size: 12px;
    
        
    }
}
