#logo-img {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 10px;
    top: 1px;
}

#work-img {
    position: relative;
    z-index: 2;
    width: 550px;
    height: 300px;
    left: 50px;
    top: 350px;
    }
    
    #work-vector {
      
    position: absolute;
    width: 1000.84px;
    height:750px;
    left: 250px;
    top: 55px;
    }
 